*{margin:0;}

@font-face {
    font-family: CamcorderOutline;
    src: url("fonts/CAMCORDER_MS_OL2.otf") format("opentype");
}

@font-face {
    font-family: Camcorder;
    src: url("fonts/CAMCORDER_MS_REG.otf") format("opentype");
}

body{
    font-family: CamcorderOutline, monospace;
    font-size: 20px;
    color:white;
    background-color: #000;
}

iframe {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    border-radius: 120px;
}

button{
    font-family: Camcorder, monospace;
    border:1px solid #fff;
    background: #000;
    padding:1em;
    color:#fff;
    font-size:1em;
    letter-spacing: .2em;
    margin:.5em;
    text-transform: uppercase;
}

input{
    width: 1.75em;
    border:2px solid #fff;
    background: #000;
    padding:1em;
    color:#fff;
    font-family: monospace;
    font-size:1em;
    letter-spacing: .2em;
    margin:.5em;
}

input:focus,
button:focus{
    outline:none;
}

form{
    width:380px;
    margin:2em auto;
}

h1{
    font-size:1.5em;
    font-weight: normal;
    letter-spacing: .2em; 
    position: absolute;
    right:1em;
    top:1em;
}

h1:nth-of-type(1){
    color:#00ff00;
    right:1.04em;
}

h1:nth-of-type(2){
    color:#ff0000;
    right:.96em;
}

h1:nth-of-type(3){
    color:#0000ff;
    top:1.04em;
}

h1:nth-of-type(4){
    color:white;
}

.title{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
}

.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

#enterBday{
    font-family: Camcorder, monospace;
    text-transform: uppercase;
    color:#fff;
    position: static;
    margin-top:30vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    color:#fff;
}