/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,500);*/

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic.ttf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBoldItalic.ttf);
    font-style: italic;
    font-weight: 500;
}

*{
    box-sizing:border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: #323132;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: .04em; 
}

body{
    font-weight: 300;
}

nav{ 
    float: left;
    margin:0 0 0 1.5em;
    position: relative;
}

h2{
    margin:.5em 0;  
}

h2, h3{
    font-size: 1.1em;
    line-height: 1.4em;
}

h3{
    margin: .75em 0 0;
}

h4{
    text-transform: uppercase;
    font-size: .75em;
    font-weight:500;
    color:#06d49e; 
}

h5{
    font-size: .75em;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin:0 auto 1.5em;
    padding:1em 0em 0.25em;
}

h5 span{
    border-bottom:1px solid #06d49e;
}

h6{
    font-size:.8em;
    margin:0 0 .4em .4em;
}

p{
    font-size: 1em;
    line-height: 1.618em;
    font-weight:300;
    margin:1em 0 0;
}

p + figure{
    margin:1em 0 0;
}

a{  
    color:inherit;
    text-decoration: none;  
}

a:hover{
    color:#06d49e; 
}

li a{
    color:inherit;
}

img{
    width: 100%;
}

figcaption{
    font-style: italic;
    font-size: .8em;
    line-height: 1.4em;
    font-weight: 300;
}

span{
    margin:0 .5em 0 0;
}

main{
    margin:1em 0;
}

aside{
    width:25%;
    float:left;
    padding:2.25em 0 0;
}

footer{

}

footer section{
    padding:.5em 1em 1em;
    height:8.5em;
}

form{
    width:100%;
}

input[type="text"]{
    height:3.5em;
    padding:.5em;
}

input[type=search] {
    background: url(../img/search1.png) no-repeat 10px center;
    border:none;
    padding: 9px 10px 9px 32px;
    width: 20px;
    z-index: 2;
    background-color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 200px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

/* ------------------------------------------------------------- all pages classes */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.clearfix:after{
    content: '.';
    display: block;
    font-size: 0;
    height:0;
    visibility: hidden;
    clear: both;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #e3e3e3;
    color: #000;
    padding: 0.2em 0;
}  

.wrap{
    width:90%;
    max-width:1300px;
    margin:auto;
    height:100%;
}

.button{
    padding:1em;
    background-color: #06d49e;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-style:italic;
    font-weight: 300;
    letter-spacing: inherit;
    font-size:.75em;
    cursor: pointer;
}

.footer-sec-lg{
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    float:left;
    width:50%;
}

.footer-sec-sm{
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    float:left;
    width:25%;
}

.social-links{
    padding:1em .5em;
}

.social-links:hover{
    color:#06d49e;
}


/* ------------------------------------------------ header */

.site-header{
    padding:1.75em 0 .5em;
    position: relative;
}

.logo{  
    float:left;
}

.access{
    width: 320px;
    position: absolute;
    right:0;
    top:1.75em;
}

.search{
    margin: 0 5% 0 0;
    float: right;
}

.login{
    margin:0 3% 0 0;
    width:30px;
    height:30px;
    float:right;
}

.topnav{
    margin: .75em 0;
    padding:0;
    position: relative;
}

.subnav{
    position: relative;
    top:.75em;
    left:-10.5em;
    padding:0;
    opacity:0;
    height: 0;
    white-space:nowrap;
    overflow: hidden;
    -webkit-transition: all .15s ease .15s;
    -moz-transition: all .15s ease .15s;
    -o-transition: all .15s ease .15s;
    transition: all .15s ease .15s;
}

.nav-abs{
    position: absolute;
    width:250px;
    top:0;
    left:6em;
}

.nav-links{
    list-style: none;
    display: inline;
    padding: 0 1em;
    font-weight: 300;
    line-height: 1em;
}

.nav-links:hover{
    color:#06d49e; 
}

.nav-links:hover > .subnav {
    opacity:1;
    height:60px;
}

.categories {
    list-style: none;
    float:left;
    padding: 1em 1em 1em;
    position: relative;
    line-height: 2em;
    cursor: pointer;
}

.categories:hover{
    background-color: #06d49e; 
    color:#fff;
}

.categories:hover h4{
    color:#fff;
}

.tagline{
    text-align: center;
    font-weight:500;
    color:#06d49e; 
    font-style: italic;
    padding:2em;
}


/* ------------------------------------------------ footer */

.site-footer{
    margin:4em auto;
        border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.email-signup{
    width:431px;
    margin:auto;
}

.email-input{
    float:left;
    width:300px;
}

.email-submit{
    display: block;
    float:left;
    margin:0 0 0 2em;
}

.email-submit:hover{
    color:#fff;
}

.social-invibed{
    margin:.6em auto;
    text-align: center;
}

/* ------------------------------------------------------------- index classes */

/* ------------------------------------------------ featured */

.current-slide{
    display: block;
}

.hidden-slide{
    display: none;
}

.featured-article{
    background-color: #fff;
    padding:1.58em 1.6em 1em;
    height:23%;
    position: relative;
}

.featured-article:hover{
    width:115%;
    margin-left:-15%;
    padding-left:20%;
    cursor: auto;
}

.featured-article:hover:before {
    content: "<";
    position: absolute;
    left: .75em;
    top: 35%;
    font-size: 2em;
    font-weight: 300;
    z-index: 2;
}

.featured-title{
    font-size:1em;
}



/* ------------------------------------------------ cards */

.cards{
    width: 25%;
    position: relative;
    padding:0 0 2em;
    float:left;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.cards-img{
    width:100%;
    height:300px; 
    overflow:hidden;
}

.aside-cards-img{
    width:100%;
    height:130px;
    overflow:hidden;
}

.portrait{
    width:100%;
    height: auto;
}

.landscape{
    width: auto;
    height:100%;
}

.cards-header{
    padding: 1em 1em 2em;
}

.aside-cards-header{
    padding: 1em .5em 1.5em;
}

.aside-cards-header h3{
    font-size: 1em;
}


/* ------------------------------------------------------------- post classes */

/* ------------------------------------------------ article */

.article{
    width:72%;
    margin:0 3% 0 0;
    float: left;
}

.article-title{
    font-size: 2em;
    margin:0.25em 0;
    font-weight: 300;
}

.article-tags li{
    display: inline-block;
    padding:0 1em 0 0;
    margin:0 0 1em;
}

.article-main{
    padding:0 .25em 0 0;
}

.article-img-sm{
    float: left;
    width:50%;
    padding:.5em 1.5em .25em 0;
}

.article-img-lg{
    width:100%;
    padding:.5em 1em .25em 0;
}

.author{
    font-size: 1em;
}

.date{
    font-size: 1em;
    text-transform: uppercase;
}

/* ------------------------------------------------ aside */

.aside-cards{
    margin:-1px 0 0;
    border:1px solid #e3e3e3;
}

.aside-title{
        margin:0 auto 1.2em;
}


/* ------------------------------------------------------------- all pages ids */

#search{
    padding:0 0 .75em .75em;
    background-color: #fff;
}

#get-app{
    width:10em;
    display:block;
    margin:2em auto;
    color:#fff;
}

/* ------------------------------------------------------------- index ids */

/* ------------------------------------------------ featured */

#featured{
    width:100%;
    height:500px;
    overflow: hidden;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}

#hero{
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    overflow: hidden;
}

#latest{
    background-color: #fff;
    width:25%;
    height:100%;
    float:right;
    position: relative;
}

/* ------------------------------------------------ cards */

#cards-main{ 
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}




/* ------------------------------------------------------------- media queries */

@media screen and (max-width: 1360px){

    aside{
        width:33.33%;
    }

    .article{
        width:63.33%;
    }

    .cards{
        width:33.33%;
        padding:0 0 1.5em;
    }

    .cards-header{
        padding:1.5em;
    }

    #latest{
        width: 33.33%;
    }
}

@media screen and (max-width: 1208px){
    nav{
        width:320px;
    }
    .subnav{
        width:1035px;
        height:0;
    }
}

@media screen and (max-width: 1046px){
    .wrap{
        width:90%;
    }

    .subnav{
        width:500px;
        height:0;
    }

    .nav-links:hover > .subnav {
        height:130px;
    }

    .categories:nth-of-type(6){
        margin-left:1.25em;
    }

    .featured-article{
        position: static;
        float:left;
        width:25%;
        height: auto;
        padding:1.6em;
        text-align: center;
    }

    .featured-article:hover{
        width:25%;
        margin-left:0;
        padding:1.6em;
        background-color: #06d49e;
    }

    .featured-article:hover:before {
        content: " ";
        position: static;
        left: 0;
        top: 0;
        display: none;
    }

    .featured-article:hover h4{
        color: #fff; 
    }

    .featured-title{
        display:none;
    }

    .featured-article:hover > .featured-title{
        display: block;
        position: absolute;
        width: 100%;
        background-color: #06d49e;
        color:#fff;
        text-align: left;
        padding:1em;
        top:-3.9em;
        left:0;
    }

    .footer-sec-lg{
        width:100%;
        float: none;
    }

    .footer-sec-sm{
        width: 50%;
    }

    #hero{
        position: relative;
        max-height: 400px;
    }

    #featured{
        position: relative;
        overflow: hidden;
        height: auto;
        border: none;
    }

    #latest-wrap{
        width: 90%;
        position: relative;
        top:0;
        margin:auto;
    }

    #the-latest{
        display: none;
    }

    #latest{
        width:100%;
        float: none;
        height: auto;
        position: relative;
        bottom: 0;
        background-color: rgba(255,255,255,0);
    }

    #cards-main{
        width:90%;
        padding:0;
    }
}

@media screen and (max-width: 1000px){
    aside{
        width:100%;
        float: none;
    }

    .aside-cards{
        width:50%;
        float: left;
    }

    .aside-cards-img{
        height:170px;
    }

    .article{
        width:100%;
        float: none;
    }

    .cards{
        width:50%;
    }

    #latest-wrap{
        width: 100%;
    }
}

@media screen and (max-width: 625px){
    nav{
        float:none;
        margin:auto;
    }

    .site-header{
        padding:1em 1em 0;
    }

    .logo{
        float: none;
        width: 128px;
        margin:0 auto .5em;
    }

    .subnav{
        height: 0;
        left: -27.5%;
    }
    .access{
        top:1em;
    }

    .tagline{
        padding:0em 0 2em;
    }


    .cards{
        width:100%;
    }

    .aside-cards{
        float:none;
        width:100%;
    }

    .landscape{
        height:auto;
        width: 100%;
    }

    .cards-header{
        padding:1em;
    }

    #featured{
        display: none;
        visibility: hidden;
        height:0;
    }
}

@media screen and (max-width:525px){
    footer section{
        height:auto;
        padding: .5em .0 1em;
    }

    .landscape{
        height:100%;
        width: auto;
    }

    .footer-sec-sm{
        height:9em;
    }

    .email-signup{
        width:90%;
    }

    .email-input{
        float:none;
        width:100%;
    } 

    .email-submit{
        float:none;
        margin:1em auto;
    }

    .wrap{
        width:95%;
    }

    #cards-main{
        width:95%;
    }
}

@media screen and (max-width:505px){
    .categories{
        text-align: center;
    }

    .categories:nth-of-type(5){
        margin-left:2.1em;
    }

    .categories:nth-of-type(6){
        margin-left:0;
    }

    .categories:nth-of-type(8){
        margin-left:5.6em;
    }

    .subnav{
        width:400px;
        left:-13%;
    }

    .nav-links:hover > .subnav {
        height:200px;
    }
}

@media screen and (max-width:420px){
    .categories:nth-of-type(1){
        margin-left:.5em;
    }

    .categories:nth-of-type(4){
        margin-left:2.1em;
    }

    .categories:nth-of-type(5){
        margin-left:0;
    }

    .categories:nth-of-type(6){
        margin-left:0;
    }

    .categories:nth-of-type(8){
        margin-left:0;
    }

    .subnav{
        width:341px;
        left:-3.5%;
    }

    .nav-links:hover > .subnav {
        height:200px;
    }
}

