/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,500);*/

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic.ttf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBoldItalic.ttf);
    font-style: italic;
    font-weight: 500;
}


*{
    box-sizing:border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    color: #323132;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: .04em;
    
}

body{
    font-weight: 300;
}

nav{
    
    float: left;
    margin:0 0 0 1.5em;
    position: relative;
}



h2{
    margin:.5em 0;  
}

h2, h3{
    font-size: 1.1em;
    line-height: 1.4em;
}

h4{
    text-transform: uppercase;
    font-size: .75em;
    font-weight:500;
    color:#06d49e; 
}

h4 + h3{
    margin: 1em 0 0;
}

h5{
    font-size: .75em;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin:0 auto 1.5em;
    padding:1em 0em 0.25em;
}

h5 span{
    border-bottom:1px solid #06d49e;

}

h6{

    font-size:.8em;
    margin:0 0 .4em .4em;
}

p{
    font-size: 1em;
    line-height: 1.618em;
    font-weight:300;
    margin:1em 0 0 ;
}

p + figure{
    margin:1em 0 0;
}

a{  
    color:inherit;
    text-decoration: none;  
}

a:hover{
    color:#06d49e; 
}

li a{
    color:inherit;
}

img{
    width: 100%;
}

figcaption{
    font-style: italic;
    font-size: .8em;
    line-height: 1.4em;
    font-weight: 300;
}

span{
    margin:0 .5em 0 0;
}

main{
    margin:1em 0;
}

section{
}

aside{
    width:25%;
    float:left;
    padding:2.25em 0 0;
}

footer section{
    padding:.5em 1em 1em;
    height:8.5em;
}

form{
    width:100%;
}

input[type="text"]{
    height:3.5em;
    padding:.5em;
}

input[type=search] {
    background: url(../img/search1.png) no-repeat 10px center;
    border:none;
    padding: 9px 10px 9px 32px;
    width: 20px;
        -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 200px;
    border: 1px solid #e3e3e3;
/*    background-color: #fff;
    border-color: #66CC75;*/
}

/* ------------------------------------------------------------- all pages */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


.clearfix:after{
    content: '.';
    display: block;
    font-size: 0;
    height:0;
    visibility: hidden;
    clear: both;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}  

.wrap{
    width:90%;
    max-width:1300px;
    margin:auto;
    height: 100%;
}

.col2, .col4{
    float:left;
    margin-left:-1px;
    border:1px solid #e3e3e3;
}

.col2{
    width:50%;
}

.col4{
    width:25%;
}

.button{
    border:none;
    padding:1em;
    background-color: #06d49e;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-style:italic;
    font-weight: 300;
    letter-spacing: inherit;
    font-size:.75em;
    cursor: pointer;
}
.footer-sec-lg{
    float:left;
    border:1px solid #e3e3e3;
    width:50%;
}

.footer-sec-sm{
    float:left;
    margin-left:-1px;
    border:1px solid #e3e3e3;
    width:25%;
}

.social-links{
    padding:1em .5em;
}

.social-links:hover{
    color:#06d49e;
}

/* ------------------------------------------------ header */

.site-header{
    padding:1.75em 0 0;
    position: relative;
}

.logo{  
    float:left;
}

.tagline{
    text-align: center;
    font-weight:500;
    color:#06d49e; 
    font-style: italic;
    padding:2em;
}

.topnav{
    margin:0;
    padding:0;
    position: relative;
}

.subnav{
    position: relative;
    top:.5em;
    left:-10.5em;
    padding:0;
    opacity:0;
    height: 0;
    white-space:nowrap;
    overflow: hidden;
    -webkit-transition: all .15s ease .15s;
    -moz-transition: all .15s ease .15s;
    -o-transition: all .15s ease .15s;
    transition: all .15s ease .15s;
}

.nav-abs{
    position: absolute;
    width:250px;
    top:0;
    left:6em;
}

.nav-links{
    list-style: none;
    display: inline;
    padding: .25em 1em 0;
    font-weight: 300;
    line-height: 2em;
}

.nav-links:hover{
    color:#06d49e; 
}

.nav-links:hover > .subnav {
    opacity:1;
    height:60px;
}

.categories {
    list-style: none;
    float:left;
    padding: 1em 1em 1em;
    position: relative;
    line-height: 2em;
}

.categories:hover{
    background-color: #06d49e; 
}

.categories:hover h4{
    color:#fff;
}

.access{
    width:25%;
    position: absolute;
    right:0;
}

.search{
    margin: 0 5% 0 0;
    float: right;
}

.login{
    margin:0 3% 0 0;
    width:30px;
    height:30px;
    float:right;
}

/* ------------------------------------------------ footer */


.site-footer{
    margin:0 auto 4em;
}

.email-signup{
    width:431px;
    margin:auto;
}

.email-input{
    float:left;
    width:300px;

}

.email-submit{
    float:left;
    margin:0 0 0 2em;
}



.social-invibed{
    margin:.6em auto;
    text-align: center;
}

/* ------------------------------------------------------------- index classes */

/* ------------------------------------------------ featured */

.latest-articles{
    height:100%;
}

.featured-article{
    background-color: #fff;
    padding:1.58em 1.6em 1em;
    height:23%;
}

.chevron{
    display: none;
}

.featured-article:hover{
    width:115%;
    margin-left:-15%;
    padding-left:20%;
    cursor: auto;
}

/*.featured-article:hover .chevron{
    display: block;
    float: left;
}

.featured-article:hover + .featured-article-content{
    float:left;
    }

.featured-article-content{
}*/

.featured-title{
    font-size:1em;
}

/* ------------------------------------------------------------- post classes */

/* ------------------------------------------------ article */

.article{
    width:72%;
    margin:0 3% 0 0;
    float: left;
}

.article-title{
    font-size: 2em;
    margin:0.25em 0;
    font-weight: 300;
}

.article-tags{
    margin:0.25em 0 0.5em;
}

.article-category, .author, .date{
    display: inline-block;
    padding:0 1em 0 0;
    margin:0;
}

.article-main{
    padding:0 .25em 0 0;
}

.article-img-sm{
    float: left;
    width:50%;
    padding:.5em 1.5em .25em 0;
}

.article-img-lg{
    width:100%;
    padding:.5em 1em .25em 0;
}

.author{
    font-size: 1em;
}

.date{
    font-size: 1em;
    text-transform: uppercase;
}


/* ------------------------------------------------ cards */

.cards{
    width: 25%;
    position: relative;
    padding:0 0 2em;
    margin-top:-1px;
    float:left;
    margin-left:-1px;
    border:1px solid #e3e3e3;
}

.cards-img{
    width:100%;
    height:0;
    padding-bottom:100%;
    overflow: hidden;
}

.cards-header{
    padding: 1em 1em 2em;
}

.aside-title{
        margin:0 auto 1.2em;
}

.aside-cards{
    margin:-1px 0 0;
    border:1px solid #e3e3e3;
}


/* ------------------------------------------------------------- index ids */


/* ------------------------------------------------ featured */

#featured{
    width:100%;
    height:500px;
    overflow: hidden;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}

#hero{
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    overflow: hidden;
}

#latest{
    background-color: #fff;
    width:25%;
    height:100%;
    float:right;
    position: relative;
}


/* ------------------------------------------------ cards */

#cards-main{ 
    padding:4px 0 0 4px;
    margin:0 auto 4em;
}

#card1{
    background:url(../img/style.jpg) no-repeat center center scroll;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#card2{
    background:url(../img/outvibed.jpg) no-repeat center center scroll;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

/* ------------------------------------------------ footer */

#get-app{
    width:10em;
    display:block;
    margin:2em auto;
    color:#fff;
}


@media screen and (max-width: 1360px){
    .cards, .access {
        width:33.33%;
    }

    .cards{
        padding:0 0 1.5em;
    }

    .cards-img{
        padding-bottom:90%;
    }   

    .cards-header{
        padding:1.5em;
    }

    #latest{
        width: 33.33%;
    }
}

@media screen and (max-width: 1208px){
    nav{
        width:320px;
    }
    .subnav{
        width:1035px;
        height:0;
    }
}

@media screen and (max-width: 1046px){
    .wrap{
        width:90%;
    }

    .site-header{
/*        padding:1.75em 2%;*/
    }

    .subnav{
        width:500px;
        height:0;
    }

    .nav-links:hover > .subnav {
        height:130px;
    }

    .cards{
        width:50%;
    }

    .cards-img{
        padding-bottom:70%;
    }   

    .cards-header{
        padding:2em 1.5em 1.5em;
    }

    .featured-article{
        width:60%;
        margin:auto;
    }

    .featured-article:hover{
        width:60%;
        margin-left:auto;
        padding-left:1.6em;
    }

    .footer-sec-lg{
        width:100%;
        float: none;
    }


    .footer-sec-sm{
        width: 50%;
        margin:-1px 0 0 0;
    }

    .footer-sec-sm + .footer-sec-sm{
        margin:-1px 0 0 -1px;
    }

    #hero{
        position: relative;
        max-height: 400px;
    }

    #featured{
        overflow: visible;
        height: auto;
        border: none;
    }
    #latest{
        float: none;
        width: 100%;
        margin: auto;
        padding:0 0 2em;
    }

    #cards-main{
        width:90%;
        padding:0;
        border:none;
    }
}

@media screen and (max-width:845px){
    .access{
        width:35%;
/*        position: static;*/
    }
    .featured-article{
        width:100%;
        float:none;
    }

    .featured-article:hover{
        width:100%;
    }

    #latest{
        width:80%;
    }
}

@media screen and (max-width:808px){
    .access{
        position: static;
        width:50%;
        left:0;
    }
    .login, .search{
        float: left;
    }

}

@media screen and (max-width:766px){


    #latest{
        width:100%;
    }
}

@media screen and (max-width:590px){
    .cards{
        width:100%;
    }

}

@media screen and (max-width:525px){

    nav{
        float:none;
        margin:auto;
    }
    footer section{
        height:auto;
        padding: .5em .5em 1em;
    }

    .site-header{
        padding:1em;
    }

    .logo{
        float: none;
        width: 128px;
        margin:0 auto .5em;
    }

    .subnav{
        width:150%;
        height:0;
        left:-20%;
        top:0;
    }

    .footer-sec-sm{
        height:9em;
    }

    .email-signup{
        width:90%;
    }

    .email-input{
        float:none;
        width:100%;
    } 

    .email-submit{
        width:100%;
        float:none;
        margin:1em 0;
    }

    .wrap{
        width:95%;
    }

    #cards-main{
        width:95%;
    }
}


